.card{
    padding: 16px;
    margin-bottom: 16px;
    .title{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .txt_css{
        margin-bottom: 10px;
        text-align: justify;
        .txt{
            // font-size: 12px;
            font-weight: 800;
        }
    }
   
}