.main_div{

    // margin: 16px;
    margin: 24px 4px;

    ion-item{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .error_message{
        font-size: 11px;
        margin-bottom: 14px;
        margin-left: 16px;
        color: red;
    }


}
ion-footer{
    padding: 16px;
}